@import "./variables";

:root{  
  font-family: "Century Gothic", Futura, sans-serif;;
  font-size: 16px;
  margin: 20px;
  background-color: darkslategrey;
  color: white;
  text-align: center;

}

ul {
  list-style: none;
  padding: 0px;
  
  li{
    position: relative;      
  }

  li.currentMove::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid $primary;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}

button{
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  margin: 2px;
  background-color: $primary;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
  &:hover{
    transform: translateY(-1px);
    background-color: lighten($primary, 5%);
  }

  &.square{
    color: $secondary;
  }

  &.filled{
    background-color: lighten($primary, 5%);
  }

  &.win {
    background-color: $secondary;
    color: white;
    &:hover{
      background-color: $secondary;
    }
  }

}
@media (hover: none){
  button:hover{
    transform: translateY(0px);
    background-color: $primary;
  }
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


